
EXPO_PUBLIC_SUPABASE_URL=https://fufjtxpmssumedpjshjp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1Zmp0eHBtc3N1bWVkcGpzaGpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MDM4NzYsImV4cCI6MjA4ODE3OTg3Nn0.cqfaIETbaqHV4dcwBVz7BsJkFLv_H2o89IrJoKLzOLQ

